<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connStr"
        connectionString="Data Source=LAPTOP-A9AFGL7F;Initial Catalog=Bookstore;User ID=sa;Password=123"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>